build-cqchat*
Debug
x64
.vs
cqchat.pro.user
node_modules
config.ini
config.json
.DS_Store
*.out
debug/
.vscode/
build/
/client/cqchat/.qmake.stash
/client/cqchat/bin/cqchat.exe
/client/cqchat/bin/cqchat.ilk
/client/cqchat/bin/cqchat.pdb
/client/cqchat/cqchat.qtvscr
/client/cqchat/cqchat.sln
/client/cqchat/cqchat.vcxproj
/client/cqchat/cqchat.vcxproj.filters
/client/cqchat/cqchat.vcxproj.user
/client/cqchat/cqchat_resource.rc
/client/cqchat/release/moc_predefs.h.cbt
/client/cqchat/ui_adduseritem.h
/client/cqchat/ui_applyfriend.h
/client/cqchat/ui_chatdialog.h
/client/cqchat/ui_chatuserwid.h
/client/cqchat/ui_findsuccessdlg.h
/client/cqchat/ui_friendlabel.h
/client/cqchat/ui_loadingdlg.h
/client/cqchat/ui_logindialog.h
/client/cqchat/ui_mainwindow.h
/client/cqchat/ui_registerdialog.h
/client/cqchat/ui_resetdialog.h
ui_*.h